.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 182, 170);
}

#posts {
  text-align: left;
  margin: 3em;
}

.App-header {
  background-color: rgb(0, 95, 133);
  height: 170px;
  padding: 20px;
  color: white;
}

.App-title h1 {
  font-size: 7em;
  font-family: 'Pacifico', cursive;
  position: absolute;
}

.logoutBtnPosition {
  position: absolute;
  top: 10px;
  right: 100px;
}

@media (max-width: 500px) {
  .logoutBtnPosition {
    right: 50px;
  }
}